/.idea/*
/.terragrunt-cache/*
.terraform.lock.hcl

/iac/infrastructure/app/.terragrunt-cache/*
/iac/infrastructure/app/.terraform.lock.hcl

/iac/infrastructure/minikube/.terragrunt-cache/*
/iac/infrastructure/minikube/.terraform.lock.hcl

/rails-app/.env*
/rails-app/log/*
/rails-app/tmp/*
/rails-app/storage/*
/rails-app/config/master.key
